.trending-bar {
    width: 98%;  
    background-color: #D3D3D3;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0px 0px 0px 0px #00000014;
    align-items: center;
    justify-content: space-between;

  }
  
  .trending-heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
    font-family: 'Poppins', sans-serif;
    height: 48px;
    color: #030303;
    margin-left: 10px;
  }
  .card{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .trending-bar {
      flex-direction: column; 
      padding: 10px;  
    }
  
    .trending-heading {
      font-size: 18px;  
      margin-left: 0;  
      margin-top: 10px;  
      text-align: center;  
    }
  }
  

  @media (max-width: 480px) {
    .trending-bar {
      flex-direction: column;  
      padding: 10px;
    }
  
    .trending-heading {
      font-size: 16px;  
      margin-top: 5px;
    }
  }
  .trending-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    list-style: none;
  }