.process-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.process-item img{
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
.process-item__description{
    width: 384px;
    height: 72px;
    gap: 0px;
    opacity: 0.7px;
    margin: 5px;
    font-size: 13px;    
}
.process-item__title{
    width: 327px;
    height: 30px;
    gap: 0px;
    opacity: 0px;

}
.process-item__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.process-item__title{
    font-size: 16px;
}